################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Apigateway/.vs
/Apigateway/obj
/Apigateway/bin
/FinanceService/bin/Debug/net8.0
/FinanceService/obj
/InventoryService/bin/Debug/net8.0
/InventoryService/obj
