################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Apigateway/.vs
/Apigateway/obj
/Apigateway/bin
/FinanceService/bin
/FinanceService/obj
/InventoryService/bin
/InventoryService/obj
/.vs/Apigateway
